.people-list-container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    &.light {
        background-color: #fafafa;
    }

    &.dark {
        background-color: #2b2b2b;
    }
}
