
.dark, .light {
    transition: all 200ms;
}

*::-webkit-scrollbar {
    width: 2px;
}

.app-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    position: relative;

    &.light {
        background-color: #eaeaea;
        color: #1b1b1b;

        & *::-webkit-scrollbar-thumb {
            background-color: #1b1b1b;
        }
    }

    &.dark {
        background-color: #1b1b1b;
        color: #eaeaea;

        & *::-webkit-scrollbar-thumb {
            background-color: #eaeaea;
        }
    }
}